<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.core.runtime.products"
         id="product">
      <product
            name="%productName"
            application="org.eclipse.ui.ide.workbench">
         <property
               name="appName"
               value="%swtAppName"/>
         <property
               name="windowImages"
               value="icons/taste16.gif,icons/taste32.gif"/>
         <property
               name="aboutText"
               value="%aboutText"/>
         <property
               name="aboutImage"
               value="icons/eclipse_lg.gif"/>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini"/>
      </product>
   </extension>


</plugin>
